.pomodoro__task-board {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 30px;

  .pomodoro__task-column {
    min-width: 300px;
    flex-grow: 1;

    .pomodoro__tasks-column-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      font-size: 1.4em;
    }
  }

  .task-card-header {
    display: flex;

    button {
      margin-left: auto;
    }
  }
}

.pomodoro__drop-zone {
  height: 20px;
  transition: height 0.15s ease-out;
  border: 2px solid $color-accent;
  margin: 10px 0;

  &:first-child {
    margin-top: 0;
  }

  &.expanded {
    height: 100px;
    transition: height 0.15s ease-in;
  }
}
