.pomodoro__task-board {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 30px;

  .pomodoro__task-column {
    min-width: 300px;
    flex-grow: 1;
    flex-basis: 33%;

    .pomodoro__tasks-column-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      font-size: 1.4em;
    }
  }
}

.pomodoro__drop-zone {
  height: 20px;
  transition: height 0.15s ease-out;
  border: 2px solid $color-accent;
  margin: 10px 0;

  &:first-child {
    margin-top: 0;
  }

  &.expanded {
    height: 100px;
    transition: height 0.15s ease-in;
  }
}

.pomodoro__card-content {
  display: flex;

  .card-content-title {
    margin-bottom: 5px;
  }

  .card-content-column-data {
    flex-grow: 1;
    padding-right: 5px;
  }

  .card-content-column-controls {
    margin-left: auto;
    flex-basis: 32px;
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 5px;
    }
  }

  .task-card-header {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 5px;
  }
}
