.pomodoro-pager__controls {
  padding: 10px 0;
  display: flex;
  justify-content: center;

  button {
    border-style: none;
    font-size: 1.2em;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: $color-accent;

    &.active {
      background-color: lighten($color: $color-accent, $amount: 10);
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: lighten($color: $color-accent, $amount: 10);
    }
  }
}
