.pomodoro-timer__mode-display {
  display: flex;
  justify-content: center;
  padding-top: 10px;

  button.active {
    filter: brightness(80%);
  }
}

.pomodoro-timer__timer-display {
  display: flex;
  justify-content: center;
  align-items: center;

  .timer {
    font-size: 4em;
  }
}

.pomodoro-timer__controls {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;

  button {
    margin-right: 10px;

    &:last-child {
      margin-right: none;
    }
  }
}
